#heading {
	border-bottom: 1px solid black;
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

#nav {
	list-style-type: none;
	margin-top:0px;
	margin-bottom:10px;
	font-family: Comic Sans MS; 
	font-size: 20px;
}

#nav li{
	float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#nav li a:link {
	text-decoration: none;
	color: blue;
}

#nav li a:hover {
	text-decoration: none;
	color: Red;
	font-weight: bold;
}
#nav li a:visited {
		color: Purple;
	}

#nav li a:active {
	text-decoration: none;
	}
table.border {
	border-top: 1px solid #000;
}	

#footer{
	border-top: 1px solid #000;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 1rem;
	font-family: Comic Sans MS;
	font-size: 16px;
	font-weight: none;
	text-align: center;	
}

	
	
