#heading {
	border-bottom: 1px solid black;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#nav {
	list-style-type: none;
	margin-top:0px;
	margin-bottom:10px;
}

#nav li{
	float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

#nav li a:link {
	text-decoration: none;
	color: blue;
}

#nav li a:hover {
	text-decoration: none;
	color: Red;
}
#nav li a:visited {
		color: Purple;
	}

#nav li a:active {
		font-weight:bold;
	}
table.border {
	border-top: 1px solid #000;
}	

#footer{
	border-top: 1px solid #000;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 1rem;
	font-size: 16px;
	font-weight: none;
	text-align: center;	
}

Img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
	}
	
	
