
a {
		font-family: Times New Roman;
		text-decoration: underline;
		font-weight: none;
		font-size: 24px;
	}

	a:link {
	  color: Blue;
	}

	a:visited {
		color: Purple;
	}

	a:hover {
	 text-decoration: none;
	 color: Red; 
	}

	a:active {
		font-weight:bold;
	}
/*use for section headings*/

#headings1 {
	font-family: black ops one;
	font-size: 24px;
	font-weight: none;
	text-align: center;
}
#headings2 {
	font-family: Times New Roman;
	font-size: 30px;
	font-weight: none;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	}

table, th, td {
	border: 1px solid black;
}

td {
	text-align: center;
	height: 30px;
	
}

th {
	background-color: lightgrey;
	color: black;
	height: 30px;
}

col.column-one {
	width: 10%;
}

col.column-two {
	width: 30%;
}

col.column-three {
	width:60%;
}
